* {
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

body {
    font: 16px 'Roboto', arial, helvetica, sans-serif;
}

#content {
    padding-top: 65px;
}

header {
    box-sizing: border-box;
    padding: 1vh 2vh;
    width: 100vw;
    height: 65px;
    line-height: 1em;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #d1d1d1;
    background-color: #fff;
    z-index: 5;
}

header h1 {
    display: inline-block;
}

#search {
    display: block;
    width: 30px;
    height: 30px;
    float: right; 
    padding-top: calc(17px - 1vh);
}

#search img {
    width: 100%;
}

nav {           /*figured out nav problem; if vw>620px make margin a calc*/
    box-sizing: border-box;
    position: fixed;
    bottom: 1.5vh;
    width: 50%;
    max-width: 260px;
    height: 46px;
    margin: 0 25%;
    border-radius: 18px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    z-index: 5;
}

nav ul {
    list-style: none;
    box-sizing: border-box;
    padding: 6px 0;
    height: 100%;
    width: 100%;
}

nav li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    margin-left: calc((100% - 90px) / 4);
}

nav li img {
    width: 100%;
}

.playlist {
    background-color: #fff;
    height: 200px;
    margin: 25px 20px 25px 20px;
    border-radius: 18px;
    border: 1px solid #d1d1d1;
    position: relative;
}

.playlist .user {
    display: inline-block;
    position: absolute;
    left: 18px;
    height: 10%;
    padding-top: 1%;
    font-size: 18px;
}

.playlist .user a {
    text-decoration: none;
    color: black;
}

.playlist .follow {
    display: inline-block;
    position: absolute;
    right: 18px;
    height: 10%;
    padding-top: 2%;
}

.playlist .snippets {
    background-color: blueviolet;
    height: 65%;
    margin-top: 10%;
}

.playlist .title {
    height: 15%;
    display: inline-block;
    font-size: 18px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 65%;
    overflow: hidden;
}

.playlist .interact {
    height: 15%;
    display: inline-block;
    position: absolute;
    right: 14px;
    box-sizing: border-box;
}

.playlist .interact ul {
    list-style-type: none;
}

.playlist .interact li {
    display: inline-block;
    padding: 3px 0 3px 10px;
}