* {
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

body {
    font: 16px 'Roboto', arial, helvetica, sans-serif;
}

#content {
    height: 900px;
}

header {
    box-sizing: border-box;
    padding: 1vh 2vh;
    width: 100vw;
    height: 65px;
    line-height: 1em;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #d1d1d1;
}

header h1 {
    display: inline-block;
}

#search {
    display: block;
    width: 30px;
    height: 30px;
    float: right; 
    padding-top: calc(17px - 1vh);
}

#search img {
    width: 100%;
}

nav {
    box-sizing: border-box;
    position: fixed;
    bottom: 1.5vh;
    width: 50%;
    max-width: 280px;
    height: 46px;
    margin: 0 25%;
    border-radius: 14px;
    border: 2px solid #d1d1d1;
}

nav ul {
    list-style: none;
    box-sizing: border-box;
    padding: 6px 0;
    height: 100%;
    width: 100%;
}

nav li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    margin-left: calc((100% - 90px) / 4);
}

nav li img {
    width: 100%;
}