* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px 'DM Sans', sans-serif;
    background-color: #07111B;
    color: #fff;
    height: 100%;
}

#content-index {
    background: linear-gradient(180deg, #1A4062 3%, #07111B 40%, #000 90%);
    background-repeat: no-repeat;
    height: 100%;
}

#content-search {
    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(7,17,27,1) 68%, rgba(12,28,44,1) 86%, rgba(22,54,83,1) 100%);
    height: 100vh;
}

.line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    border-radius: 3px;
}

nav {
    position: relative;
    height: 10vh;
    z-index: 5;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    left: 3%;
    top: calc((10vh - 29px)/2);
    z-index: 2;
}

.nav-links {
    position: fixed;
    height: 100%;
    width: 100%;
    list-style: none;
    background-color: #000;
    clip-path: circle(50px at -5% -10%);
    -webkit-clip-path: circle(50px at -5% -10%);
    transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
    pointer-events: none;
    box-sizing: border-box;
    padding: 12.5vh 8vh 0 8vh;
}

.nav-links.open {
    clip-path: circle(140% at -5% -10%);
    -webkit-clip-path: circle(140% at -5% -10%);
    pointer-events: all;
}

.nav-item {
    height: 40px;
    width: 100%;
    opacity: 0;
    font-size: 1.6em;
    height: 15vh;
    padding-top: calc((15vh - 1.6em)/2);
    box-sizing: border-box;
    border-bottom: 1px solid #8C8C8C;
}

.nav-item:nth-child(1){
    transition: all 0.5s ease 0.2s;
}

.nav-item:nth-child(2){
    transition: all 0.5s ease 0.35s;
}

.nav-item:nth-child(3){
    transition: all 0.5s ease 0.5s;
}

.nav-item:nth-child(4){
    transition: all 0.5s ease 0.65s;
}

.nav-item:nth-child(5){
    transition: all 0.5s ease 0.8s;
}

.nav-item a{
    color: #fff;
    text-decoration: none;
}

.nav-item.fade {
    opacity: 1;
}

h1 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.5em;
}

h2 {
    text-align: center;
    color: #8C8C8C;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
}

#img {
    width: 250px;
    height: 250px;
    background-color: #fff;
    margin: 10px calc((100% - 250px)/2);
}

#interact {
    margin: 30px calc((100% - 270px)/2);
    height: 80px;
    position: relative;
}

.interaction {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    position: absolute;
    background: none;
}

#save {
    left: 0px;
    top: 10px;
}

#save img {
    height: 34px;
    padding: 13px;
}

#play {
    left: calc((100%/2) - 35px);
    top: 5px;
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

#play img {
    height: 70px;
}

#like {
    right: 0px;
    top: 10px;
}

#like img {
    height: 34px;
    padding: 13px;
}

#links {
    width: 100%;
    height: 240px;
}

.external-link {
    padding: 5px;
    width: 250px;
    text-align: center;
    margin: 10px calc((100% - 250px)/ 2);
    height: 50px;
}

.external-link a {
    text-decoration: none;
    color: #fff;
    height: 50px;
    margin: 0;
    display: block;
}

.external-link img {
    width: 50px;
    padding: 0 5px;
}

.external-link span {
    height: 50px;
    display: inline-block;
    position: relative;
    bottom: 20px;
    line-height: 50px;
}

#search-bar {
    position: relative;
}

#search-bar input {
    width: 92%;
    height: 30px;
    margin: 10px 4%;
    padding: 5px 5px 5px 30px;
    box-sizing: border-box;
    background-color: #fff;
    background-image: url('images/search.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: auto 20px;
    border: none;
    border-radius: 8px;
    transition: width 0.5s ease-out 0.2s, transform 0.7s ease-out, background-position 0.5 ease-out 0.2s;
    -webkit-transition: width 0.5s ease-out 0.2s, transform 0.7s ease-out;
    outline: none;
    color: #000;
}

#search-bar input:focus {
    width: 80%;
    transform: translateY(-10vh);
    z-index: 10;
    position: relative;
    float: left;
    margin-right: 0;
}

#cancel-button {
    height: 30px;
    box-sizing: border-box;
    width: 16%;
    position: absolute;
    top: -10vh;
    margin: 10px 0;
    float: right;
    background: none;
    border: none;
    color: #53708a;
}

#account-info {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#pfp {
    width: 90px;
    height: 90px;
    background-color: #fff;
    margin: 10px calc((100% - 90px)/2);
}

#playlists {
    margin: 15px 0;
    width: 100%;
    height: 100%;
}

.playlist {
    background-color: #fff;
    width: 40vw;
    max-width: 200px;
    height: 40vw;
    max-height: 200px;
    float: left;
    margin: 0 5vw;
}

@media only screen and (max-width:) {
    
}