* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px 'DM Sans', sans-serif;
    color: #fff;
    background: linear-gradient(180deg, #1A4062 3%, #07111B 40%, rgba(0,0,0,1) 90%);
    background-repeat: no-repeat;
    height: 100%;
}



.line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    border-radius: 3px;
}

nav {
    position: relative;
    height: 10vh;
    z-index: 5;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    left: 3%;
    top: calc((10vh - 29px)/2);
    z-index: 2;
}

.nav-links {
    position: fixed;
    height: 100%;
    width: 100%;
    list-style: none;
    background-color: #000;
    clip-path: circle(50px at -5% -10%);
    -webkit-clip-path: circle(50px at -5% -10%);
    transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
    pointer-events: none;
    box-sizing: border-box;
    padding: 12.5vh 8vh 0 8vh;
}

.nav-links.open {
    clip-path: circle(140% at -5% -10%);
    -webkit-clip-path: circle(140% at -5% -10%);
    pointer-events: all;
}

.nav-item {
    height: 40px;
    width: 100%;
    opacity: 0;
    font-size: 1.6em;
    height: 15vh;
    padding-top: calc((15vh - 1.6em)/2);
    box-sizing: border-box;
    border-bottom: 1px solid #8C8C8C;
}

.nav-item:nth-child(1){
    transition: all 0.5s ease 0.2s;
}

.nav-item:nth-child(2){
    transition: all 0.5s ease 0.35s;
}

.nav-item:nth-child(3){
    transition: all 0.5s ease 0.5s;
}

.nav-item:nth-child(4){
    transition: all 0.5s ease 0.65s;
}

.nav-item:nth-child(5){
    transition: all 0.5s ease 0.8s;
}

.nav-item a{
    color: #fff;
    text-decoration: none;
}

.nav-item.fade {
    opacity: 1;
}

h1 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.5em;
}

h2 {
    text-align: center;
    color: #8C8C8C;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
}

#img {
    width: 250px;
    height: 250px;
    background-color: #fff;
    margin: 10px calc((100% - 250px)/2);
}

#interact {
    margin: 30px calc((100% - 270px)/2);
    height: 80px;
    position: relative;
}

.interaction {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    position: absolute;
    background: none;
}

#save {
    left: 0px;
    top: 10px;
}

#save img {
    height: 40px;
    padding: 10px;
}

#play {
    left: calc((100%/2) - 35px);
    top: 5px;
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

#play img {
    height: 70px;
}

#like {
    right: 0px;
    top: 10px;
}

#like img {
    height: 40px;
    padding: 10px;
}

#links {
    width: 100%;
}

.external-link {
    background-color: #fff;
    padding: 5px;
    width: 250px;
    text-align: center;
    margin: 10px calc((100% - 250px)/ 2);
}

.external-link a {
    text-decoration: none;
    color: #000;
}